
@import "reset.css";
@import "core.css";

@import "form2.css";
@import "form.css";
@import "style.css";

#cvc:hover {
    text-decoration: none;
}
#cvc span {
    display: none;
    line-height: 16px;
    margin-left: 60px;
    margin-top: -30px;
    padding: 14px 20px;
    width: 150px;
    z-index: 10;
}
#cvc:hover span {
    background: none repeat scroll 0 0 #fffaf0;
    border: 1px solid #dca;
    color: #111;
    display: inline;
    position: absolute;
}
.callout {
    border: 0 none;
    left: -12px;
    position: absolute;
    top: 30px;
    z-index: 20;
}
#cvc span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
}